
<h2>Terms of use and privacy policy</h2>

We will not sell or share your email address with any third parties<br/>
We will not send you junk email<br/>
Your email address will not be visible to parts other than: <br/>
- the people you spesifically connect to <br/>
- the initiators of job offerings you apply to <br/>
You will not missuse this site or use it to purposes not lawful. <br/>
You can at any time choose to delete your profile, and in case you do we will delete your details from our database <br/>
You will be notified in advance if these terms change
<br/>
<br/>
If you choose to Decline your profile and related information will be deleted
<br/>






<br/>

<br/>

<%= link_to "Accept", accept_agreement_path, :method=>"post" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to "Decline", decline_agreement_path, :method=>"post", :confirm=>"Are you sure? Your account will be deleted" %>
