<%= error_messages_for :user %>
<p>If you do not receive the email please check your spam filter</p>
<p>The email is dispached from us immediately, but the delivery time will vary depening on network routing</p>

<%= link_to 'back to frontpage', home_path %>
