<%= error_messages_for :user %>
<% form_for :user, :url => forgot_password_path do |f| -%>
<p><label for="login">Your email</label><br/>
<%= f.text_field :login%></p>

<p><%= submit_tag 'Send password',:class => "formbutton" %></p>
<% end -%>
