<h1>Profile to merge to</h1>

Identify the profile you wish to move your connections and items to by supplying email and password.<br/>
<b>Be aware! This is not an action you can undo</b>

<% form_for @user, :url => { :action => "merge" } do |f| %>

    <p>
        Email of the profile to keep<br/>
        <input type="text" name="login"/>
    </p>

    <p>
        Password for that profile<br/>
        <input type="password" name="password"/>
    </p>

    <p>
        <input type="submit" value="Merge"/>
    </p>

<% end %>

<%= link_to 'Back', show_user_path %>
