<%= error_messages_for :user %>
<% form_for :user, :url => reset_password_path do |f| -%>

    <p><label for="password">New Password</label><br/>
        <%= password_field 'user', 'password' %>
    <p><label for="password">New Password Confirmation</label><br/>
        <%= password_field 'user', 'password_confirmation' %>

    <p><%= submit_tag 'Save',:class => "formbutton" %></p>
<% end -%>

