<h2>In the test envirionment emails are not sendt, but only displayed here</h2>

    From: <%= @delivery.from%> <br/>
    To: <%= @delivery.to%> <br/>
    Subject: <%= @delivery.subject %> <br/>
    Body: <p><pre><%= @delivery.body%> </pre><br/></p>

